Repository Apadmi-Engineering/Mockzilla, pull requests merged in 2025-06, with the labels that each got.

#367 Implement closing device tabs in desktop application
  mockzilla-management-ui/src/androidMain/kotlin/com/apadmi/mockzilla/desktop/ui/utils/Modifier.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/engine/device/ActiveDeviceManager.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/i18n/En.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/i18n/Strings.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/scaffold/Tabs.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/utils/ModifierUtils.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/widgets/devicetabs/DeviceTabsViewModel.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/widgets/devicetabs/DeviceTabsWidget.kt
  mockzilla-management-ui/src/desktopMain/kotlin/com/apadmi/mockzilla/desktop/ui/utils/DesktopModifierUtils.kt
  mockzilla-management-ui/src/desktopTest/kotlin/com/apadmi/mockzilla/desktop/engine/device/ActiveDeviceManagerTests.kt
  mockzilla-management-ui/src/desktopTest/kotlin/com/apadmi/mockzilla/desktop/ui/widgets/devicetabs/DeviceTabsViewModelTests.kt
  mockzilla/src/commonMain/kotlin/com/apadmi/mockzilla/lib/internal/utils/SocketIo.kt
Labels: enhancement, area:desktop-app

#378 Fix Flutter package warnings
  .github/workflows/action_pull_request.yml
  FlutterMockzilla/mockzilla_android/example/android/settings.gradle
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/ProxyMockzillaLogger.swift
Labels: area:flutter

#380 Ignore symlink in Flutter iOS package
  FlutterMockzilla/mockzilla_ios/example/.gitignore
  FlutterMockzilla/mockzilla_ios/example/ios/.symlinks/plugins/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/ProxyMockzillaLogger.swift
Labels: bug, area:flutter

#381 chore(develop): release flutter_mockzilla_ios 1.1.1
  .release-please-manifest.json
  FlutterMockzilla/mockzilla_ios/CHANGELOG.md
  FlutterMockzilla/mockzilla_ios/pubspec.yaml
Labels: autorelease: pending

#375 chore(develop): release mockzilla-management-ui 1.2.0
  .release-please-manifest.json
  mockzilla-management-ui/CHANGELOG.md
  mockzilla-management-ui/build.gradle.kts
Labels: autorelease: pending
