Repository Apadmi-Engineering/Mockzilla, pull requests merged in 2025-01, with the labels that each got.

#290 Add Flutter SPM support
  FlutterMockzilla/mockzilla_ios/example/ios/Podfile.lock
  FlutterMockzilla/mockzilla_ios/example/pubspec.lock
  FlutterMockzilla/mockzilla_ios/example/pubspec.yaml
  FlutterMockzilla/mockzilla_ios/ios/.gitignore
  FlutterMockzilla/mockzilla_ios/ios/Assets/.gitkeep
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios.podspec
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Package.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/BridgeUtils.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/Messages.g.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/MockzillaIos.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/MockzillaIosPlugin.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/PlatformUtils.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/TypeUtils.swift
  FlutterMockzilla/mockzilla_ios/pigeons/messages.dart
Labels: area:flutter, dependencies

#291 Expose checked errors to Swift
  SwiftMockzilla/Sources/SwiftMockzilla/SwiftMockzilla.swift
  mockzilla/src/iosMain/kotlin/com/apadmi/mockzilla/lib/Mockzilla.kt
Labels: bug, area:kmm

#293 Attempt to fix grouped releases
  release-please-config.json
Labels: bug

#297 Attempt to fix grouped releases again
  release-please-config.json
Labels: bug, github_actions

#298 Flutter port conflict handling
  FlutterMockzilla/mockzilla/example/.gitignore
  FlutterMockzilla/mockzilla/example/ios/Podfile.lock
  FlutterMockzilla/mockzilla/example/pubspec.lock
  FlutterMockzilla/mockzilla_android/android/build.gradle
  FlutterMockzilla/mockzilla_android/example/android/gradle.properties
  FlutterMockzilla/mockzilla_android/example/android/gradle/wrapper/gradle-wrapper.properties
  FlutterMockzilla/mockzilla_android/example/android/settings.gradle
  FlutterMockzilla/mockzilla_android/example/pubspec.lock
  FlutterMockzilla/mockzilla_android/lib/src/mockzilla_android.dart
  FlutterMockzilla/mockzilla_ios/example/.gitignore
  FlutterMockzilla/mockzilla_ios/example/ios/Podfile.lock
  FlutterMockzilla/mockzilla_ios/example/pubspec.lock
  FlutterMockzilla/mockzilla_ios/ios/Classes/MockzillaIos.swift
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios.podspec
  FlutterMockzilla/mockzilla_ios/lib/src/mockzilla_ios.dart
  FlutterMockzilla/mockzilla_platform_interface/lib/src/models.dart
  mockzilla/build.gradle.kts
Labels: bug, documentation, area:flutter, dart

#299 Flutter runtime parameters
  FlutterMockzilla/mockzilla/README.md
  FlutterMockzilla/mockzilla/example/lib/main.dart
  FlutterMockzilla/mockzilla/lib/src/mockzilla.dart
  FlutterMockzilla/mockzilla_android/android/src/main/kotlin/com/apadmi/mockzilla/BridgeUtils.kt
  FlutterMockzilla/mockzilla_android/android/src/main/kotlin/com/apadmi/mockzilla/Messages.g.kt
  FlutterMockzilla/mockzilla_android/android/src/test/kotlin/com/apadmi/mockzilla/BridgeUtilsTest.kt
  FlutterMockzilla/mockzilla_android/lib/src/api_utils.dart
  FlutterMockzilla/mockzilla_android/lib/src/messages.g.dart
  FlutterMockzilla/mockzilla_android/lib/src/mockzilla_android.dart
  FlutterMockzilla/mockzilla_android/pigeons/messages.dart
  FlutterMockzilla/mockzilla_android/pubspec.yaml
  FlutterMockzilla/mockzilla_android/test/callback_provider/callback_provider_test.dart
  FlutterMockzilla/mockzilla_android/test/messages_test.g.dart
  FlutterMockzilla/mockzilla_ios/example/ios/RunnerTests/BridgeUtilsTests.swift
  FlutterMockzilla/mockzilla_ios/ios/Classes/BridgeUtils.swift
  FlutterMockzilla/mockzilla_ios/ios/Classes/Messages.g.swift
  FlutterMockzilla/mockzilla_ios/lib/src/api_utils.dart
  FlutterMockzilla/mockzilla_ios/lib/src/messages.g.dart
  FlutterMockzilla/mockzilla_ios/lib/src/mockzilla_ios.dart
  FlutterMockzilla/mockzilla_ios/pigeons/messages.dart
  FlutterMockzilla/mockzilla_ios/pubspec.yaml
  FlutterMockzilla/mockzilla_ios/test/callback_provider/callback_provider_test.dart
  FlutterMockzilla/mockzilla_ios/test/callback_provider/callback_provider_test.mocks.dart
  FlutterMockzilla/mockzilla_ios/test/messages_test.g.dart
  FlutterMockzilla/mockzilla_platform_interface/lib/src/mockzilla_interface.dart
  FlutterMockzilla/mockzilla_platform_interface/lib/src/models.dart
  FlutterMockzilla/mockzilla_platform_interface/lib/src/models.freezed.dart
Labels: enhancement, area:flutter, dart

#302 Add `workflow_dispatch` trigger to Flutter deployments
  .github/workflows/action_deploy_flutter.yml
  .github/workflows/action_deploy_flutter_android.yml
  .github/workflows/action_deploy_flutter_ios.yml
  .github/workflows/action_deploy_flutter_platform_interface.yml
Labels: github_actions

#306 Fix hiding logs tab
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/scaffold/Tabs.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/scaffold/WidgetScaffold.kt
  mockzilla-management-ui/src/commonMain/kotlin/com/apadmi/mockzilla/desktop/ui/widgets/devicetabs/DeviceTabsWidget.kt
Labels: bug, area:desktop-app

#314 Fix concurrent semaphore access in `mockzilla_ios`
  FlutterMockzilla/mockzilla_ios/example/pubspec.lock
  FlutterMockzilla/mockzilla_ios/ios/mockzilla_ios/Sources/mockzilla_ios/MockzillaIos.swift
Labels: bug, area:flutter

#316 Fix Flutter deployment trigger pattern
  .github/workflows/action_deploy_flutter.yml
  .github/workflows/action_deploy_flutter_android.yml
  .github/workflows/action_deploy_flutter_ios.yml
  .github/workflows/action_deploy_flutter_platform_interface.yml
Labels: bug, github_actions

#318 Flutter housekeeping
  FlutterMockzilla/melos.yaml
  FlutterMockzilla/mockzilla/CHANGELOG.md
  FlutterMockzilla/mockzilla/analysis_options.yaml
  FlutterMockzilla/mockzilla/example/.gitignore
  FlutterMockzilla/mockzilla/example/lib/engine/feature/packages/models.freezed.dart
  FlutterMockzilla/mockzilla/example/lib/engine/feature/packages/models.g.dart
  FlutterMockzilla/mockzilla/example/lib/engine/feature/packages/packages_client.g.dart
  FlutterMockzilla/mockzilla/lib/src/mockzilla.dart
  FlutterMockzilla/mockzilla/pubspec.yaml
  FlutterMockzilla/mockzilla_android/CHANGELOG.md
  FlutterMockzilla/mockzilla_android/android/gradle/wrapper/gradle-wrapper.jar
  FlutterMockzilla/mockzilla_android/android/gradlew
  FlutterMockzilla/mockzilla_android/android/gradlew.bat
  FlutterMockzilla/mockzilla_android/lib/mockzilla_android.dart
  FlutterMockzilla/mockzilla_android/lib/src/messages.g.dart
  FlutterMockzilla/mockzilla_android/lib/src/model/mockzilla_error.dart
  FlutterMockzilla/mockzilla_android/pigeons/messages.dart
  FlutterMockzilla/mockzilla_android/pubspec.yaml
  FlutterMockzilla/mockzilla_android/test/callback_provider/callback_provider_test.dart
  FlutterMockzilla/mockzilla_android/test/callback_provider/fixtures.dart
  FlutterMockzilla/mockzilla_android/test/messages_test.g.dart
  FlutterMockzilla/mockzilla_android/test/mockzilla_android/mockzilla_android_test.dart
  FlutterMockzilla/mockzilla_ios/CHANGELOG.md
  FlutterMockzilla/mockzilla_ios/example/lib/main.dart
  FlutterMockzilla/mockzilla_ios/lib/mockzilla_ios.dart
  FlutterMockzilla/mockzilla_ios/lib/src/api_utils.dart
  FlutterMockzilla/mockzilla_ios/lib/src/messages.g.dart
  FlutterMockzilla/mockzilla_ios/pigeons/messages.dart
  FlutterMockzilla/mockzilla_ios/pubspec.yaml
  FlutterMockzilla/mockzilla_ios/test/callback_provider/callback_provider_test.dart
  FlutterMockzilla/mockzilla_ios/test/callback_provider/fixtures.dart
  FlutterMockzilla/mockzilla_ios/test/messages_test.g.dart
  FlutterMockzilla/mockzilla_ios/test/mockzilla_ios/mockzilla_ios_test.dart
  FlutterMockzilla/mockzilla_platform_interface/CHANGELOG.md
  FlutterMockzilla/mockzilla_platform_interface/lib/mockzilla_platform_interface.dart
  FlutterMockzilla/mockzilla_platform_interface/lib/src/mockzilla_interface.dart
  FlutterMockzilla/mockzilla_platform_interface/lib/src/models.dart
  FlutterMockzilla/mockzilla_platform_interface/pubspec.yaml
  fastlane/fastfiles/flutter.rb
Labels: area:flutter

#320 chore(develop): release flutter_mockzilla_platform_interface 1.0.1
  .release-please-manifest.json
  FlutterMockzilla/mockzilla_platform_interface/CHANGELOG.md
  FlutterMockzilla/mockzilla_platform_interface/pubspec.yaml
Labels: autorelease: pending

#322 chore(develop): release flutter_mockzilla_ios 1.0.2
  .release-please-manifest.json
  FlutterMockzilla/mockzilla_ios/CHANGELOG.md
  FlutterMockzilla/mockzilla_ios/pubspec.yaml
Labels: autorelease: pending

#319 chore(develop): release flutter_mockzilla 1.0.1
  .release-please-manifest.json
  FlutterMockzilla/mockzilla/CHANGELOG.md
  FlutterMockzilla/mockzilla/pubspec.yaml
Labels: autorelease: pending
